header{
    box-shadow: 0.33333rem 0 1.33333rem rgba(87, 87, 87, .1);
    background: white;
}

.Logo img{
    width: 180px;
}
nav{
    margin: 0;
    padding: 0;
}
nav ul{
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}
nav a{
    /* color: #00507d; */
    color: #202428;
    font-size: 15px;
    letter-spacing: .5px;
    margin: 0 14px;
    font-weight: 400;
}
nav a:hover{
    text-decoration: none;
    color: #26a9e0;
}
nav ul li{
    margin: 0px;
    display: inline-block;
    /* float: left; */
}