body {
  padding: 0;
  margin: 0;
  background: #FFF;
  font-family: 'Poppins';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
h1, h2, h3, h4, h5, h6{
  margin: 0;
  padding: 0;
}
ul, ol {
  margin: 0;
  padding: 0;
}
p{
  line-height: 1.9;
}
.primary-dark{
  color: #00507d;
}
.primary-light{
  color: #26a9e0;
}